body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('imagen_bomba.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor-principal {
    background-color: ;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Alinea los elementos en el centro horizontalmente */
    background: radial-gradient(ellipse at center, #868686, #525252, #111111);
    border-radius: 5px;
}

.contenedor-clave{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
}

.numero-tabla {
    display: inline;
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: red;
    border: 5px rgba(233, 233, 233, 0.849);
    background-color: rgb(22, 22, 22);
    margin-left: 5px;
}

.numero-tabla.correcto {
    display: inline;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 255, 0);
    border-color: rgba(233, 233, 233, 0.849);
    background-color: rgb(22, 22, 22);
}

#contador {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    border: 5px rgba(233, 233, 233, 0.849);
    color: rgb(0, 255, 0);
    background-size: 20%; /* Ajusta el tamaño del fondo según tus necesidades */
    background-color: rgb(22, 22, 22);
    border: none;
}

.botonera-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
#start-btn{
    color: #1d1d1d;
    background: radial-gradient(ellipse at center, #19640a, #275f25, #a7e298);
}

#stop-btn{
    color: #1d1d1d;
    background: radial-gradient(ellipse at center, #a71010, #923b3b, #ffaeae);
}

#reset-btn{
    color: #1d1d1d;
    background: radial-gradient(ellipse at center, #9c930f, #959e3f, #fffeae);
}



button {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    color: rgb(184, 184, 184);
    background-color: rgb(56, 56, 56);
    border-color: rgba(233, 233, 233, 0.849);
    border-radius: 10px;
    background: radial-gradient(ellipse at center, #1f1f1f, #494949, #c5c5c5);
}

.contenedor-link{
    text-align: center;
}

#link-practicas{
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center;
    border-color: rgba(233, 233, 233, 0.849);
    color: #1d1d1d;
    background: radial-gradient(ellipse at center, #5418f8, #6966ff, #b6aeff);
    border-radius: 50%;
}



@media only screen and (max-width: 600px) {

    #contenedor-principal {
        width: 100%;
        margin: auto;
    }
}



