body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#botonera-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
}

#display {
    font-size: 24px;
    margin-top: 20px;
}


