body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url('imagen_bomba.jpg');
    background-size: cover;
    background-position: center;
}

.contenedor-principal {
    background-color: ;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
    align-items: center; /* Alinea los elementos en el centro horizontalmente */
    background: radial-gradient(ellipse at center, #868686, #525252, #111111);
    border-radius: 5px;
}

.contenedor-clave{
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;

}

.numero-tabla {
    display: inline;
    width: 100%; /* Ocupa todo el ancho de la celda */
    height: 100%; /* Ocupa todo el alto de la celda */
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: red;
    background-color: rgb(22, 22, 22);
    margin-left: 5px;
}

.numero-tabla.correcto {
    display: inline;
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: rgb(0, 255, 0);
    background-color: rgb(22, 22, 22);
}

#contador {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5%;
    color: rgb(0, 255, 0);
    background-size: 20%; /* Ajusta el tamaño del fondo según tus necesidades */
    background-color: rgb(22, 22, 22);
    border: none;
}

.botonera-container {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 25px;
    color: rgb(184, 184, 184);
    background-color: rgb(56, 56, 56);
    border-color: rgba(233, 233, 233, 0.849);
    border-radius: 10px;
    background: radial-gradient(ellipse at center, #1f1f1f, #494949, #c5c5c5);
}

.contenedor-link{
    text-align: center;
}

#link-practicas{
    margin-bottom: 10px;
    font-size: 13px;
    text-align: center; /* Opcional: Centra el texto de h5 */
    color: rgb(45, 100, 172);
    background: radial-gradient(ellipse at center, #3df818, #6bff66, #beffae);
    border-radius: 50%;
}







