@font-face {
    font-family:Boongaloo ;
    src: url(./Boogaloo-Regular.ttf);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    width: 100%;
    height: 100%;
    font-family: Boongaloo;
}

body{
    font-size: 50px;
    font-family: Boongaloo;
    background: url('Fondo2.jpeg') no-repeat center center, linear-gradient(45deg, #2e7a6a 0%, #ffc038 50%, #f665a2 100%);
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;

}

.controles {
    animation: fadeIn .5s ease-in-out;
    display: flex;
    gap: 20px;
    background: #b6b6b8;
    color: #00ff73;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;

}

.dificultad button {
    width: 100px; /* Ancho del botón */
    height: 50px; /* Alto del botón */
    font-size: 24px; /* Tamaño de la fuente del botón */
}

#comenzar{
    height: 150px;
    align-self: center;
    font-size: 35px;
}

button {    
    background-color: #0051ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #003cb3;
    font-family: Boongaloo;
    font-size: 45px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all 0.1s ease;  
}

button:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño para simular el efecto lupa */
}


button:active {
    background-color: #002a86; /* Color de fondo al pulsar */
    box-shadow: 0 2px #003cb3;
    transform: translateY(3px);
}

.button-pressed {
    background-color: #002a86; /* Color de fondo para botón pulsado */
    box-shadow: 0 2px #001d61; /* Sombra más pequeña para efecto de presión */
    transform: translateY(3px); /* Desplaza el botón hacia abajo */
}

.disabled {
    color: rgb(73, 89, 124);
}

.display {
    color: #282A3A;
    font-size: 25pt;
}

.grid-container {
    display:flex;
    justify-content: center;
    position: relative;

}

.tablero,
.win {
    border-radius: 5px;
    /* box-shadow: 0 25px 50px rgb(33 33 33 / 25%);*/
    /* background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%); */
    transition: transform .1s cubic-bezier(0,0,1,.02);
    /*backface-visibility: hidden;*/
}

.tablero{
    animation: fadeIn 1s ease-in-out;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 33%, #fad0c4 66%, #ffd1ff 100%);
    position:static;
}

.grid-container.flipped .tablero {
    transition: transform .1s cubic-bezier(.17,.67,.96,.61);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    animation: fadeIn 2s ease-in-out;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3 ease;
}
.card:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño para simular el efecto lupa */
}


.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .3s cubic-bezier(.17,.67,.96,.61);;
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
    transform: rotateY(0deg) rotateZ(0deg);
    display: none;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
    background: rgb(78, 78, 78, 0.5)
}

.win-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
    color: #282A3A;
}

.highlight {
    color: #6f00fc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


