@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family:Jersey10 ;
    src: url(./Jersey10-Regular.ttf);
}

@font-face {
    font-family:Silkscreen ;
    src: url(./Silkscreen-Regular.ttf);

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blinker {
    50% {
      color: #000;
      text-shadow: none;
    }
  }

html {
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: Jersey10;
}

body{
    align-content: center;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive; 
    background: url('Fondo2.jpeg') no-repeat  center center, linear-gradient(45deg, #7337ff 0%, #ff58e3 50%, #7337ff 100%);
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    align-content: center;
    align-items: center;
    /* background-color: #202020; /* Color de fondo */
    /*padding: 20px; /* Espacio interior */
    /*box-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; /* Efecto de neón */
    /*border: 1px solid #00f; /* Borde sólido */
}

.controles {
    align-items: center;
    animation: fadeIn .5s ease-in-out;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    width: auto;
    color: #00ff73;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0px;
    cursor: pointer;
    background-color: #202020; /* Color de fondo */
    padding: 20px; /* Espacio interior */
    box-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; /* Efecto de neón */
    border: 1px solid #00f; /* Borde sólido */
}

.dificultad button {
    align-items: center;
    width: 75px;
    height: 75px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 24px; /* Tamaño de la fuente del botón */
}
.start{
    display: block;
    align-items: center;
}
#comenzar{
    background-color: #ea00ff;
    box-shadow: 0 5px #880094;
    height: 150px;
    align-self: center;
    font-size: 35px;
    text-shadow: 0 0 10px #00eeff;
}
#comenzar:hover {background-color: #880094}

#reiniciar {
    width: 165px;
    align-self: center;
    font-size: 35px;
    /*transform: translate(-50%, -50%);*/
    background-color: #21d3ff;
    box-shadow: 0 5px #1584a0;
    text-shadow: 0 0 10px #ead3ff;
}
#reiniciar:hover {background-color: #1584a0}

button {    
    background-color: #c50101;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(82, 0, 0);
    font-family: Jersey10;
    font-size: 45px;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: background-color 0.3s ease; 
}
button:hover {background-color: rgb(82, 0, 0)}

#facil{
    background-color: #00a716;
    box-shadow: 0 5px #01570d;
    text-shadow: 0 0 10px #3cff00;
}
#facil:hover {background-color: #01570d}

#medio{

    background-color: #ffae00;
    box-shadow: 0 5px #b67c00;
    text-shadow:0 0 10px #fbff00 ;
}
#medio:hover {background-color: #b67c00}

#dificil{
    background-color: #ff0000;
    box-shadow: 0 5px #a30000;
    text-shadow: 0 0 10px #ffffff ;
}
#dificil:hover {background-color: #a30000}

#home{
    background-image: url(casa.png);
    background-repeat:no-repeat;
    align-items: rigth;
    background-size: auto;
    background-position:center;
    width: 30p;
    height: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-size: auto;
    background-position:center;

}

button:active {
    background-color: #002a86; /* Color de fondo al pulsar */
    box-shadow: 0 2px #003cb3;
    transform: translateY(3px);
}

.button-pressed {
    background-color: #002a86; /* Color de fondo para botón pulsado */
    box-shadow: 0 2px #001d61; /* Sombra más pequeña para efecto de presión */
    transform: translateY(3px); /* Desplaza el botón hacia abajo */
}

.disabled {
    color: rgb(73, 89, 124);
}

.display {

    color: #282A3A;
    font-size: 14pt;
}

.movimientos{
    margin-top: 20%;
}
.movimientos, .timer{
    display: inline-block;
    margin-bottom: 15px;
    background-color: #030303; /* Fondo negro */
    background-attachment: fixed;
    padding: 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    font-family: Silkscreen;
    font-size: 24px;
    text-align: center;
    color: #f30202; /* Texto verde brillante */
    text-shadow:0 0 10px #ff9d9d;
    animation: blinker .1s linear infinite;
}

.grid-container {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.tablero,
.win {
    border-radius: 5px;
    transition: transform .1s cubic-bezier(0,0,1,.02);
    align-content: center;
    align-items: center;
}

.tablero{
    animation: fadeIn 1s ease-in-out;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 20px;
    height: 100%;
    width: 100%;
    background: url(Cartas.jpeg)no-repeat center center;
    box-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f; /* Efecto de neón */
    border: 1px solid #00f; /* Borde sólido */;
    position:static;
}

.grid-container.flipped .tablero {
    transition: transform .1s cubic-bezier(.17,.67,.96,.61);
}

.grid-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    animation: fadeIn 2s ease-in-out;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3 ease;
}
.card:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño para simular el efecto lupa */
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: rgb(37, 28, 39);
    background-size: 100% 100%; 
    transition: transform .3s cubic-bezier(.17,.67,.96,.61);;
    backface-visibility: hidden;
}

.card-back {
    font-size: 28pt;
    text-align: center;
    line-height: 100px;
    background:radial-gradient(circle, #ccb7ff, #a304ff);
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
    box-shadow: 0 25px 50px rgb(33 33 33 / 25%);
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height:250px;
    font-size:35px;
    align-self: center;
    text-align: center;
    transform: translate(-50%, -50%);
    display: none;
    color: #5aff5a;
    background: #282a3a71;
    box-shadow: 0 0 10px rgb(85, 230, 255), 0 0 20px rgb(85, 230, 255), 0 0 30px rgb(85, 230, 255); /* Efecto de neón */
    border: 1px solid rgb(85, 230, 255); /* Borde sólido */;
    -webkit-text-stroke: 2px #2f573b;
    z-index: 1000;
}

.win-text {
    align-self: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21pt;
}

.highlight {
    color: #6f00fc;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 480px) {
    body {
        font-size: 18px; /* Reducir el tamaño de la fuente para móviles */
        justify-content: center;
    }

    button {
        font-size: 14px; /* Reducir el tamaño de la fuente de los botones */
        padding: 5px 10px; /* Reducir el padding para disminuir el tamaño total */
        width: auto; /* Ajustar el ancho para que sea proporcional al contenido */
        justify-content: center;
        
    }

    .dificultad button {
        width: 80px; /* Reducir el ancho del botón */
        height: 20px; /* Reducir el alto del botón */
        margin: 10px;
        padding-bottom: 25px;
    }

    #comenzar {
        height: 100px; /* Reducir el alto del botón comenzar */
        font-size: 14px; /* Reducir el tamaño de la fuente del botón comenzar */
    }  

    .game, .controles, .dificultad button, #comenzar, button {
        font-size: 16px; /* Reducir el tamaño de la fuente de los elementos */
    }

    .card {
        width: 60px; /* Reducir el tamaño de las tarjetas para que quepan en la pantalla */
        height: 60px;
        justify-content: center;
        align-items: center;
    }
    .card-front,
    .card-back {
        /* Estilos existentes */
        display: flex; /* Establece el contenedor como un flexbox */
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        text-align: center; /* Asegura que el texto dentro del flexbox esté centrado */
        /* ... */
}

    .tablero {
        grid-template-columns: repeat(6, auto); /* Ajustar la disposición del grid para menos columnas */
    }

    .win-text {
        font-size: 14pt; /* Reducir el tamaño de la fuente del texto de victoria */
    }

    .modal-content {
        margin: 5% auto; /* Ajustar el margen para centrar el modal */
        width: 95%; /* Ajustar el ancho para que ocupe casi toda la pantalla */
    }

    .close {
        font-size: 22px; /* Reducir el tamaño del botón cerrar */
    }
}
